button.cbb-button {
    position: absolute;
    margin-left: 200px;
    background-image: url('../../assets/img/SeekPng.com_chevron-logo-png_1350793.png');
    background-size: 10px 10px;
    background-color: #fff;
    background-position: center center;
    border: unset;
    margin-top: 2px;
    width: 39px;
    height: 34px;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}

.m-field-input.m-cbb {
    margin-left: 50px;
}

.cbb-data {
    display: none;
    position: absolute;
    width: 239px;
    background-color: #fff;
    height: calc(300% + 2px);
    margin-top: 42px;
    border-radius: 0 0 4px 4px;
}

.cbb-data-item {
    height: 40px;
    line-height: 38px;
    font-size: 13px;
    padding-left: 36px;
}

.cbb-data-item:hover {
    background-color: #E9EBEE;
}

.m-ip.m-ip-right {
    padding-left: 16px;
    width: 224px;
    background-color: #fff;
}

.m-field-input.m-cbb-left {
    margin-left: 30px;
}

.cbb-data-item-right {
    height: 40px;
    line-height: 38px;
    font-size: 13px;
    padding-left: 36px;
}

.cbb-data-item-right:hover {
    background-color: #E9EBEE;
}